:root {
    --main-color: #00de09;
}

body {
    font-family: Arial, sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9) 0%, rgba(0,13,1,0.9) 58%, rgba(0,29,1,0.9) 100%);
    color: white;
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    -webkit-user-drag: none;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3.2vh;
    margin-top: -10vh;
    margin-bottom: 10vh;
    color: white;
    letter-spacing: 0.5rem;
    position: relative;
    margin-left: 0.5vh;
    text-align: center;
}

h1::after {
    content: "";
    display: block;
    width: 40vh;
    height: 5px;
    border-radius: 1vh;
    background-color: var(--main-color);
    margin: 0.5rem auto 0;
}

.btn {
    background-color: rgba(0, 0, 0, 200);
    color: white;
    padding: 1vh 2vh;
    margin-top: 1vh;
    cursor: pointer;
    border-radius: 0.5vh;
    text-transform: uppercase;
    border: 0.2vh solid var(--main-color);
    border-radius: 0.5vh;
    transition: all 0.3s;
    position: absolute;
    top: 2vh;
    left: 3vh;
    letter-spacing: 0.5vh;
}

.btn:hover {
    background-color: var(--main-color);
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slide {
    display: flex;
    overflow: hidden;
    width: 150vh;
}

.card {
    background-color: #00000096;
    border: 0.2vh solid var(--main-color);
    border-radius: 1vh;
    padding: 2vh;
    margin: 0 1vh;
    text-align: center;
    /* min-width: 250px; */
    transition: transform 0.5s ease;
    position: relative;
    height: 55vh;
    min-width: 25vh;
    max-width: 35vh;
    margin-right: -18.5vh;
}

.card h2 {
    font-size: 1.92vh;
    margin-bottom: -10vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card p {
    /* background-color: red; */
    font-size: 1.6vh;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.card img {
    padding-top: 10vh;
    padding-bottom: 15vh;
    max-width: 30vh;
    height: auto;
}

.btn_anmelden {
    background-color: rgba(0, 0, 0, 200);
    color: white;
    padding: 1vh 2vh;
    margin-top: 1vh;
    cursor: pointer;
    border-radius: 0.5vh;
    text-transform: uppercase;
    border: 0.2vh solid var(--main-color);
    border-radius: 0.5vh;
    transition: all 0.3s;
    letter-spacing: 0.5vh;
}

.btn_anmelden:hover {
    background-color: var(--main-color);
}

.btn_abmelden {
    background-color: var(--main-color);
    color: white;
    padding: 1vh 2vh;
    margin-top: 1vh;
    cursor: pointer;
    border-radius: 0.5vh;
    text-transform: uppercase;
    border: 0.2vh solid var(--main-color);
    border-radius: 0.5vh;
    transition: all 0.3s;
    letter-spacing: 0.5vh;
}

.btn_abmelden:hover {
    background-color: rgba(0, 0, 0, 200);
}

.prev, .next {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: -10vh;
    background-color: #00000096;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

.next {
    right: -10vh;
    background-color: #00000096;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}
